<div class="wrapper">
    <!-- 검색창 (전체로 화면을 덮으면서 나타난다.)-->
    <div class="search" [@slideInOut]="this.filterValue">
        <app-search></app-search>
    </div>
    <!-- 사이드메뉴 (전체로 화면을 덮으면서 나타난다.)-->
    <div class="side-menu" *ngIf="this.leftViewFlag">
        <app-left></app-left>
    </div>
    <div class="main-container">
        <!-- 헤더(검색, 사이드메뉴 컴포넌트를 호출한다) -->
        <header class="header">
            <app-header (searchView)="searchView()" (leftView)="leftView()"></app-header>
        </header>
        <!-- 메인이 되는구간 -->
        <!-- 가능페이지 사진-그룹/사진-상세/상품-그룹/상품-상세/스크랩/좋아요/검색결과/마이페이지 -->
        <router-outlet></router-outlet>
        <!-- 푸터(플랫폼의 기본정보를 표기한다.) -->
        <footer class="footer">
            <app-footer></app-footer>
        </footer>
    </div>
</div>