<form [formGroup]="profileForm2" (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="firstName" required>
  </label><br>

  <label>
    Last Name:
    <input type="text" formControlName="lastName">
  </label><br>

  <div formGroupName="address">
    <h3>Address</h3>

    <label>
      Street:
      <input type="text" formControlName="street">
    </label><br>

    <label>
      City:
      <input type="text" formControlName="city">
    </label><br>

    <label>
      State:
      <input type="text" formControlName="state">
    </label><br>

    <label>
      Zip Code:
      <input type="text" formControlName="zip">
    </label>
  </div>

  <div formArrayName="aliases">
    <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>

    <div *ngFor="let alias of aliases.controls; let i=index">
      <!-- The repeated alias template -->
      <label>
        Alias:
        <input type="text" [formControlName]="i">
      </label>
    </div>
  </div>


  <button type="submit" [disabled]="!profileForm2.valid">Submit</button>

  <p>
    <button (click)="updateProfile()">Update Profile</button>
  </p>

  <p>
    Form Value: {{ profileForm2.value }}
  </p>
  <p>
    Form Status: {{ profileForm2.status }}
  </p>
</form>



<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <input id="name" class="form-control" formControlName="name" required>

  <div *ngIf="name2.invalid && (name2.dirty || name2.touched)" class="alert alert-danger">

    <div *ngIf="name2.errors.required">
      Name is required.
    </div>
    <div *ngIf="name2.errors.minlength">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="name2.errors.forbiddenName">
      Name cannot be Bob.
    </div>
  </div>
</form>