.content {
    width: 90%;
    height: 500px;
    border: solid;
    display: inline-block;
    vertical-align: middle;
    background:red
}

.tracingBox {
    position: absolute;
    width: 500px;
    height: 500px;
    border: solid;
}